wandb:
  project: "202510_hpt"
  name: "${feature.audio_feature}-${model.name}-ext${model.input2}${model.input3}-sr${feature.sample_rate}-${wandb.comment}" # -iter${exp.total_iteration}
  comment: "mel128"

exp:
  # workspace: "./workspaces" #kaya
  # workspace: "/media/datadisk/home/22828187/zhanh/202510_hpt_data/workspaces" #uwa
  # workspace: "/Users/hanyu/Documents/ipynb/202510_hpt_data/workspaces" #mac
  workspace: "/media/mengh/SharedData/zhanh/202510_hpt_data/workspaces" #mengh
  resume_iteration: 0
  total_iteration: 60_000 # 200_000 # 300_000 # 360_000
  save_iteration: 5_000   # 6_000 # 6_000
  eval_iteration: 5_000   # 6_000 # 6_000

  learning_rate: 1e-4 # 3e-4 # 1e-4
  optim: "adam" # "adam", "ranger", Ranger: default betas=(0.9, 0.999), eps=1e-08, weight_decay=0.
  decay: True # False
  reduce_iteration: 10_000 # 6_000
  loss_type: "velocity_bce"
  random_seed: 86

  mini_data: False # True when developing model
  cuda: True
  debug: False
  num_workers: 12 # 6 for Score Calculating
  batch_size: 12

  # Infer and Eval
  run_infer: 'single' # 'multi'
  ckpt_iteration: ""  # 180_000


feature:
  audio_feature: "logmel"
  classes_num: 88
  # ---------------------------
  # dataloader.py params
  segment_seconds: 10.
  hop_seconds: 1.
  # ---------------------------
  # feature_extractor.py params
  # mel_bins: 229 # 去feature extractor里面手动定义吧
  sample_rate: 22050
  fft_size: 2048
  frames_per_second: 100
  augmentor: null
  # ---------------------------
  begin_note: 21
  velocity_scale: 128
  max_note_shift: 0


dataset:
  # Fix "maestro" for (train valid), select "smd|maestro|map" for (test)
  train_set: "maestro"
  test_set: "smd"

  # Use the same workspace root as features.py packs to
  train_h5: "${exp.workspace}/hdf5s/${dataset.train_set}"
  test_h5: "${exp.workspace}/hdf5s/${dataset.test_set}"

  # Provide dataset dir to process the features.py
  smd_dir: "/Users/hanyu/Documents/ipynb/202510_hpt_data/SMD"
  maestro_dir: "/Users/hanyu/Documents/ipynb/202510_hpt_data/maestro-v3.0.0"
  maps_dir: "/Users/hanyu/Documents/ipynb/202510_hpt_data/MAPS"


model:
  type: "velo" # "notes"
  name: "Single_Velo_Mamba1" # 'Single_Velocity_HPT', 'Dual_Velocity_HPT', 'Triple_Velocity_HPT'
  input2: null # onset, offset, frame, exframe, null - None
  input3: null # onset, offset, frame, exframe, null - None


post:
  post_processor_type: 'regression' # 'onsets_frames'
  # regression (0.1, 0.3, 0.3), onsets_frames (0.5, 0.1, 0.3)
  frame_threshold: 0.3 # 0.1 in RegressionPostProcessor, 0.3 in score_calculator
  onset_threshold: 0.3
  offset_threshold: 0.3
  pedal_offset_threshold: 0.2
  

score:
  evaluate_frame: True
  evaluate_velocity: True
  evaluate_pedal: False # No implemented yet
  
  onset_tolerance: 0.05 # 1
  offset_ratio: 0.2 # null | 0.2
  offset_min_tolerance: # 0.05 # 1
